<router-outlet></router-outlet>
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="public/css/tailwind.css" />
    <link rel="stylesheet" href="./css/style.css" /> -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="font-body">
    <div
      class="
        sidebar
        close
        w-65
        fixed
        top-0
        left-0
        h-full
        z-50
        transition-all
        ease-linear
        duration-500
        bg-sidebar
      "
    >
      <div class="logo-details h-15 w-full flex items-center">
        <i
          class="
            bx
            bxl-c-plus-plus
            text-3xl
            leading-logo
            h-13
            text-center
            min-w-7
            text-white
          "
        ></i>
        <span
          class="
            logo_name
            transition
            duration-300
            ease-linear
            pointer-events-none
            delay-100
            font-semibold
            text-xl text-white
          "
          >CodingLab</span
        >
      </div>
      <ul class="nav-links h-full pt-7 pb-37 overflow-auto list-none">
        <li
          class="
            relative
            hover:bg-nav-c
            transition-all
            duration-400
            ease-linear
          "
        >
          <a href="#" class="flex items-center no-underline">
            <i
              class="
                bx bx-grid-alt
                h-13
                min-w-7
                text-center
                leading-logo
                text-white text-xl
                cursor-pointer
                transition-all
                duration-300
                ease-linear
              "
            ></i>
            <span class="link_name">Dashboard</span>
          </a>
        </li>

        <li
          class="
            relative
            hover:bg-nav-c
            transition-all
            duration-400
            ease-linear
          "
        >
          <a href="#" class="flex items-center no-underline">
            <i
              class="
                bx bx-pie-chart-alt-2
                h-13
                min-w-7
                text-center
                leading-logo
                text-white text-xl
                cursor-pointer
                transition-all
                duration-300
                ease-linear
              "
            ></i>
            <span class="link_name">Analytics</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a
                class="
                  hover:opacity-100
                  transition-all
                  duration-400
                  ease-linear
                  link_name
                "
                href="#"
                >Analytics</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            relative
            hover:bg-nav-c
            transition-all
            duration-400
            ease-linear
          "
        >
          <a href="#" class="flex items-center no-underline">
            <i
              class="
                bx bx-line-chart
                h-13
                min-w-7
                text-center
                leading-logo
                text-white text-xl
                cursor-pointer
                transition-all
                duration-300
                ease-linear
              "
            ></i>
            <span class="link_name">Chart</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a
                class="
                  hover:opacity-100
                  transition-all
                  duration-400
                  ease-linear
                  link_name
                "
                href="#"
                >Chart</a
              >
            </li>
          </ul>
        </li>

        <li
          class="
            relative
            hover:bg-nav-c
            transition-all
            duration-400
            ease-linear
          "
        >
          <a href="#" class="flex items-center no-underline">
            <i
              class="
                bx bx-compass
                h-13
                min-w-7
                text-center
                leading-logo
                text-white text-xl
                cursor-pointer
                transition-all
                duration-300
                ease-linear
              "
            ></i>
            <span class="link_name">Explore</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a
                class="
                  hover:opacity-100
                  transition-all
                  duration-400
                  ease-linear
                  link_name
                "
                href="#"
                >Explore</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            relative
            hover:bg-nav-c
            transition-all
            duration-400
            ease-linear
          "
        >
          <a href="#" class="flex items-center no-underline">
            <i
              class="
                bx bx-history
                h-13
                min-w-7
                text-center
                leading-logo
                text-white text-xl
                cursor-pointer
                transition-all
                duration-300
                ease-linear
              "
            ></i>
            <span class="link_name">History</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a
                class="
                  hover:opacity-100
                  transition-all
                  duration-400
                  ease-linear
                  link_name
                "
                href="#"
                >History</a
              >
            </li>
          </ul>
        </li>
        <li
          class="
            relative
            hover:bg-nav-c
            transition-all
            duration-400
            ease-linear
          "
        >
          <a href="#" class="flex items-center no-underline">
            <i
              class="
                bx bx-cog
                h-13
                min-w-7
                text-center
                leading-logo
                text-white text-xl
                cursor-pointer
                transition-all
                duration-300
                ease-linear
                text
              "
            ></i>
            <span class="link_name">Setting</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a
                class="
                  hover:opacity-100
                  transition-all
                  duration-400
                  ease-linear
                  link_name
                "
                href="#"
                >Setting</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <section
      class="
        home-section
        transition-all
        duration-500
        ease-linear
        relative
        h-screen
        bg-home
        left-65
      "
    >
      <div class="flex items-center h-15 text-menu">
        <i class="bx bx-menu cursor-pointer mx-1 text-4xl text-menu"></i>
        <span class="text-3xl font-semibold">Drop Down Sidebar</span>
      </div>
    </section>
    <script>
      let arrow = document.querySelectorAll(".arrow");
      for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e) => {
          let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
          arrowParent.classList.toggle("showMenu");
        });
      }
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      console.log(sidebarBtn);
      sidebarBtn.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });
    </script>
  </body>
</html>
